#im{
    background-image: url("C:\Users\diksh\Desktop\geu-pro\demo\geu-connect\public\img.png");
    background-repeat: no-repeat;
    background-position: center ; /* Shift the background image to the right */
    padding-top: 200px;
}
